The 'token.json' file will be auto generated once the 'credentials.json' file is created, and an attempt is made to access the calendar functions through the Harmony Client. See the README in the root server directory for more info.

Note: The token does expire after several days and must be removed to trigger the login screen again, which will in turn generate a new token.